<div class="mx-auto max-w-7xl px-6 py-8 md:py-16 lg:flex lg:items-top lg:gap-x-10 lg:px-8">
  <div class="lg:mt-16 mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
    <h1 class="max-w-xl text-4xl font-bold tracking-tight text-gray-900 md:text-6xl">A better way to track what matters</h1>
    <p class="mt-6 text-lg leading-8 text-gray-600">Exercising, eating real food, and drinking plenty of water contribute to a healthy life. The Daily Log app helps you keep track. Every day.</p>
    <div class="mt-10">
      <%= link_to "Get started", "#", class: "btn-primary px-3.5 py-2.5" %>
    </div>
  </div>
  <div class="mt-16 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow">
    <%= image_tag "screenshots/ios.png", class: "mx-auto w-[22.875rem] max-w-full drop-shadow-xl", alt: "Screenshot of the Daily Log app running on an iPhone." %>
  </div>
</div>
