<%# locals: (title:) %>

<header class="bg-white shadow turbo-native:hidden">
  <div class="mx-auto max-w-7xl px-4 py-4 sm:py-6 sm:px-6 lg:px-8">
    <div class="flex items-center space-x-4">
      <%= inline_svg "logo.svg", class: "h-8 sm:h-10 w-auto text-gray-600" %>
      <h1 class="text-xl sm:text-3xl font-bold leading-tight tracking-tight text-gray-900"><%= title %></h1>
    </div>
  </div>
</header>
